<%- include("partials/header"); %>

<h1>Home</h1>

<p><%= homeContent %></p>

<div class="content">
  <% newPost.forEach(function(blogPost) { %>
  <div>
    <h2><%= blogPost.title %></h2>
    <p>
      <%= blogPost.content.substring(0, 100) + "..." %>
      <a href="http://localhost:3000/posts/<%= blogPost._id %>">Read More</a>
    </p>
  </div>
  <% }); %>
</div>

<%- include("partials/footer"); %>
