<%- include("partials/header"); %>
<div >
  <h1>Home</h1>
  <p><%= homePageStartingContent%></p>
</div>

<!-- Blog Post holder -->
<% items.forEach(function(image) { %>  
  <div class="col-md-4 album mx-auto">
    <div class="card mb-4 box-shadow">
        <div>
            <img class="card-img-top" src="data:image/<%=image.img.contentType%>;base64,
            <%=image.img.data.toString('base64')%>">
        </div>  
          <div class="card-body">
          <h3 class="content"><%= image.title %></h3>
          <p class="card-text content"><%= image.content %></p>
          <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="/posts/<%= image._id %>"><button type="button" class="btn btn-sm btn-outline-secondary">Read More</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% }); %>

      

<%- include("partials/footer"); %>
